body {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: black;
  justify-content: center;
}
#gameCanvas {
  /*background: url(http://res.cloudinary.com/dvylj9hyw/image/upload/e_blur:200,o_80/v1501612897/wolfgang/wolfgang-background.jpg);*/
  background-size: cover;
}
